<div style="float:left;">
    <div class="dvStickerHeaderCap"></div>
    <div class="dvStickerHeader">PFJ TOTAL</div>
    <div class="dvStickerContainer">
      <div style="min-height: 116px;">
        <div class=dvSticker>
          <div class="dvStickerHeaderLeft"> TOTAL GP$</div>
          <div class="dvStickerHeaderRight">{{pfjTotal.grossProfitDollars.header}}</div>
          <div class="dvStickerContentLeft">
            <div style="padding-top: 10px;">
              <span class="col-sm-6 spnStickerLeftVal">
                  <ng-container *ngIf="pfjTotal.grossProfitDollars.vsTgLeft != 0; else blankContextualHelp">
                <img *ngIf="pfjTotal.grossProfitDollars.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                <img *ngIf="!pfjTotal.grossProfitDollars.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                </ng-container>
                <ng-template #blankContextualHelp>
                    <span class="blnkContextual"></span>
                </ng-template>
                 {{utility.FormatContextualData(pfjTotal.grossProfitDollars.vsTgLeft)}}
              </span>
              <div>
                <span class="col-sm-2 spnStickerCenterValVsTg">VS.TG</span>
                <span class="col-sm-3 spnStickerRightVal">{{pfjTotal.grossProfitDollars.vsTgRight}}</span>
              </div>
            </div>
            <div style="padding-top: 10px;">
              <span class="col-sm-6 spnStickerLeftVal">
                  <ng-container *ngIf="pfjTotal.grossProfitDollars.vsLyLeft != 0; else blankContextualHelp">
                <img *ngIf="pfjTotal.grossProfitDollars.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                <img *ngIf="!pfjTotal.grossProfitDollars.vsLyLeftPositive" src='assets/images/down_arrow.png'> 
                </ng-container>
                <ng-template #blankContextualHelp>
                    <span class="blnkContextual"></span>
                </ng-template>
                {{utility.FormatContextualData(pfjTotal.grossProfitDollars.vsLyLeft)}}
              </span>
              <div>
                <span class="col-sm-2 spnStickerCenterValVsTLy">VS.LY</span>
                <span class="col-sm-3 spnStickerRightVal">{{pfjTotal.grossProfitDollars.vsLyRight}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class=dvSticker>
          <div class="dvStickerHeaderLeft"> VOLUME</div>
          <div class="dvStickerHeaderRight">{{pfjTotal.volume.header}}</div>
          <div class="dvStickerContentLeft">
            <div style="padding-top: 10px;">
              <span class="col-sm-6 spnStickerLeftVal">
                  <ng-container *ngIf="pfjTotal.volume.vsTgLeft != 0; else blankContextualHelp">
                <img *ngIf="pfjTotal.volume.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                <img *ngIf="!pfjTotal.volume.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                </ng-container>
                <ng-template #blankContextualHelp>
                    <span class="blnkContextual"></span>
                </ng-template>
                 {{utility.FormatContextualData(pfjTotal.volume.vsTgLeft)}}
              </span>
              <div>
                <span class="col-sm-2 spnStickerCenterValVsTg">VS.TG</span>
                <span class="col-sm-3 spnStickerRightVal">{{pfjTotal.volume.vsTgRight}}%</span>
              </div>
            </div>
            <div style="padding-top: 10px;">
              <span class="col-sm-6 spnStickerLeftVal">
                  <ng-container *ngIf="pfjTotal.volume.vsLyLeft != 0; else blankContextualHelp">
                <img *ngIf="pfjTotal.volume.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                <img *ngIf="!pfjTotal.volume.vsLyLeftPositive" src='assets/images/down_arrow.png'>
                </ng-container>
                <ng-template #blankContextualHelp>
                    <span class="blnkContextual"></span>
                </ng-template>
                 {{utility.FormatContextualData(pfjTotal.volume.vsLyLeft)}}
              </span>
              <div>
                <span class="col-sm-2 spnStickerCenterValVsTLy">VS.LY</span>
                <span class="col-sm-3 spnStickerRightVal">{{pfjTotal.volume.vsLyRight}}%</span>
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div style="min-height: 116px;">
        <div class=dvSticker>
          <div class="dvStickerHeaderLeft"> MARGIN</div>
          <div class="dvStickerHeaderRight">{{pfjTotal.margin.header}}</div>
          <div class="dvStickerContentLeft">
            <div style="padding-top: 10px;">
              <span class="col-sm-6 spnStickerLeftVal">
                  <ng-container *ngIf="pfjTotal.margin.vsTgLeft != 0; else blankContextualHelp">
                <img *ngIf="pfjTotal.margin.vsTgLeftPositive" src='assets/images/up_arrow.png'>
                <img *ngIf="!pfjTotal.margin.vsTgLeftPositive" src='assets/images/down_arrow.png'>
                </ng-container>
                <ng-template #blankContextualHelp>
                    <span class="blnkContextual"></span>
                </ng-template>
                 {{utility.FormatContextualData(pfjTotal.margin.vsTgLeft)}}
              </span>
              <div>
                <span class="col-sm-2 spnStickerCenterValVsTg">VS.TG</span>
                <span class="col-sm-3 spnStickerRightVal">{{pfjTotal.margin.vsTgRight}}</span>
              </div>
            </div>
            <div style="padding-top: 10px;">
              <span class="col-sm-6 spnStickerLeftVal">
                  <ng-container *ngIf="pfjTotal.margin.vsLyLeft != 0; else blankContextualHelp">
                <img *ngIf="pfjTotal.margin.vsLyLeftPositive" src='assets/images/up_arrow.png'>
                <img *ngIf="!pfjTotal.margin.vsLyLeftPositive" src='assets/images/down_arrow.png'>
                </ng-container> <ng-template #blankContextualHelp>
                    <span class="blnkContextual"></span>
                </ng-template>
                 {{utility.FormatContextualData(pfjTotal.margin.vsLyLeft)}}
              </span>
              <div>
                <span class="col-sm-2 spnStickerCenterValVsTLy">VS.LY</span>
                <span class="col-sm-3 spnStickerRightVal">{{pfjTotal.margin.vsLyRight}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class=dvSticker>
          <div class="dvStickerContentLeft" style="margin-top:0px;height: 117px;">
            <div class="dvStickerHeaderCapSmall"></div>
            <div style="padding-top: 10px;">
              <span class="col-sm-7 spnStickerLeftVal" style="font-size: 12px;">TOTAL GAL</span>
              <div>
                <span class="col-sm-3 spnStickerRightVal">{{pfjTotal.totalGAL}}</span>
              </div>
            </div>
            <div style="padding-top: 10px;">
              <span class="col-sm-7 spnStickerLeftVal" style="font-size:12px;">TOTAL TARGET</span>
              <div>
                <span class="col-sm-3 spnStickerRightVal">{{pfjTotal.totalTarget}}</span>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>