<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<head>
    <title>IdP Selection</title>
</head>
<body>
<b>Select an IdP: </b>
<form th:action="${idpDiscoReturnURL}" method="GET">
    <select th:id="${idpDiscoReturnParam}" th:name="${idpDiscoReturnParam}" th:remove="all-but-first">
        <div>
            <option th:disabled="true" th:selected="selected" th:value="''" th:text="'Select IdP...'">Select IdP...</option>
            <option th:each="idpEntity : ${idpNameAliasMap}" th:value="${idpEntity.key}" th:text="${idpEntity.value}">Idp Name</option>
        </div>
    </select>
    <input id="btnsso" type="submit" value="Initiate SSO"/>
</form>
</body>
<script type="text/javascript">
$(document).ready(function(){ 
	document.getElementById('idp').selectedIndex=1; 
	document.getElementsById('btnsso').click();
});
</script>
</html>