<!--<div class='tableauPlaceholder' style='width: 505px; height: 230px;'>
    <object class='tableauViz' width='505' height='230' style='display: none;'>
        <param name='host_url' value='https%3A%2F%2Ftableau.pilotcorp.net%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='&#47;t&#47;SupportCenter' />
        <param name='name' value='FPPDraft&#47;{{data}}' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name='filter' value='iframeSizedToWindow=true' />
    </object>
</div>-->

<iframe allowfullscreen="true" class='tableauViz' style="width: 507px;height: 230px;border: 0" 
[src]='viewUrl | safe'></iframe>

